<section class="products-list">
    <div class="products-list__head d-flex j-space-bet a-items-cen">
        <div class="form-control">
            <input type="text" placeholder="Search...">
        </div>
        <button class="btn" [routerLink]="['/products/add']" routerLinkActive="router-link-active" >Agregar</button>
    </div>
    <div class="products-list__table mt-1">
        <table>
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Nombre del producto</th>
                    <th>Descripción</th>
                    <th>Fecha de liberación</th>
                    <th>Fecha de reestructuración</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="logo">
                            <img
                                src="https://www.visa.com.ec/dam/VCOM/regional/lac/SPA/Default/Pay%20With%20Visa/Tarjetas/visa-signature-400x225.jpg" />
                        </div>
                    </td>
                    <td>Nombre del producto</td>
                    <td>Descripción</td>
                    <td>01/01/2001</td>
                    <td>01/01/2001</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">5 resultados</td>
                    <td >
                        <div class="form-control a-items-end">
                            <select name="" id="">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- <button class="btn btn-secundary">Agregar</button> -->

</section>