<section class="products-list">
    <div class="products-list__head d-flex j-space-bet a-items-cen">
        <div class="form-control">
            <input type="text" placeholder="Search..." (keyup)="onFiltered()" [(ngModel)]="search">
        </div>
        <button class="btn" [routerLink]="['/list/product']" routerLinkActive="router-link-active">Agregar</button>
    </div>
    <div class="products-list__table mt-1 d-flex j-cont-cen a-items-cen">
        <table *ngIf="productListFiltered.length;else empty">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Nombre del producto</th>
                    <th>Descripción</th>
                    <th>Fecha de liberación</th>
                    <th colspan="2">Fecha de reestructuración</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productListFiltered">
                    <td>
                        <div class="logo">
                            <img [src]="item.logo" alt="img-{{item.id}}" />
                        </div>
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.date_release | date:"dd/MM/yyyy"}}</td>
                    <td>{{item.date_revision | date:"dd/MM/yyyy"}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="dropdown__btn">&#8942;</button>
                            <ul class="dropdown__content">
                                <li><a (click)="goToEdit(item)">Editar</a></li>
                                <li> <a (click)="onDelete(item)">Eliminar</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">{{productListFiltered.length}} resultados</td>
                    <td>
                        <div class="form-control a-items-end">
                            <select [(ngModel)]="productsAmount" (change)="onFiltered()">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
        <ng-template #empty>
            <h3>No hay resultados</h3>
        </ng-template>
    </div>
</section>
<bank-products-loader *ngIf="isLoading"></bank-products-loader>
<bank-products-modal *ngIf="isOpenModal" [modalText]="modalTxt" (modalEvent)="modalEvent($event)"></bank-products-modal>