.d-flex {
    display: flex;
}

.f-dir-col {
    flex-direction: column;
}

.j-cont-cen {
    justify-content: center;
}

.j-space-aro {
    justify-content: space-around;
}

.j-space-bet {
    justify-content: space-between;
}

.j-space-end {
    justify-content: end;
}

.a-items-cen {
    align-items: center;
}

.a-items-sta {
    align-items: start;
}

.a-items-end {
    align-items: end;
}